@charset "UTF-8";

.list-content {
  background: #f3f3f3;
  .list-top {
    padding-top:.08rem;
    .list-button {
      width:70%;
      height:.28rem;
      background: #f3f3f3;
      border:1px solid #f3f3f3;
      border-radius: .3rem;
      i {
        color:#ff5e75;
        font-size:.22rem;
      }
      p {
        color:#b2b2b2;
      }
    }
    button {
      width:15%;
      color:#7e7e7e;
      padding-top:-0.08rem;
    }
  }
  .allList {
    background: #fff;
    margin-bottom:.1rem;
    .allList-top {
      font-size: .14rem;
      color:#5f5f5f;
      margin-left:.1rem;
      padding-left: .04rem;
      border-left: 4px solid #ff566e;
    }
    .list-list1 {
      display: flex;
      // width:100%;
      li {
        text-align: center;
        flex:3;
        // width:33%;
        h4 {
          font-size: .16rem;
          color:#262626；
        }
        p {
          color:#a5a5a5;
          font-size: .1rem;
        }
      }
    }
  }
  .list-like {
    background: #fff;
    margin-bottom:.1rem;
    .allList-top {
      font-size: .14rem;
      color:#5f5f5f;
      margin-left:.1rem;
      padding-left: .04rem;
      border-left: 4px solid #ff566e;
    }
    .list-list2 {
      li {
        .like-img {
          // display: block;
          display: flex;
          .img-left{
            flex: 1;
            width:100%;
            padding-left:.05rem;
            p {
              width:1.33rem;
              margin-left:.1rem;
              text-align: center;
            }
            b {
              font-size:.14rem;
              margin-left:.1rem;
              color:#ff264a;
            }
            span {
              color:#bebebe;
              font-size: .1rem;
              padding-left:.3rem;
            }
          }
        }
      }
    }
  }
}
